<div class="text-end">
  <button class="btn btn-primary" [routerLink]="['/admin/main/products/create']">
    Create New Product
  </button>
</div>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Category</th>
        <th scope="col">Price</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr class="" *ngFor="let product of getProducts()">
        <td scope="row">{{ product.id }}</td>
        <td scope="row">{{ product.name }}</td>
        <td scope="row">{{ product.category }}</td>
        <td scope="row">{{ product.price }}</td>
        <td scope="row" class="text-center">
          <button class="btn btn-warning" [routerLink]="['/admin/main/products/edit',product.id]">
            Edit
          </button>
          <button class="btn btn-danger" (click)="deleteProduct(product.id??0)">
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
